{% extends "homebase.html" %}
{% block title %}Videolar - {{ categorydata.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block description %}  {{ setting.description }} {% endblock %}


{% block content %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="/">Anasayfa</a></li>
				<li class="active">{{ categorydata.title }}</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div>
<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row outer-bottom-sm">
			<div class="col-md-3 sidebar">
	            <!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Kategoriler</div>
            <nav class="yamm megamenu-horizontal" role="navigation">
                {% load mptt_tags %}
                <ul class="nav">
                     {% recursetree category %}
                    <li class="dropdown menu-item">
                        <a href="/category/{{ node.id }}/{{ node.slug }}" {% if not node.is_leaf_node %} class="dropdown-toggle" data-toggle="dropdown" {% endif %} >{{ node.title }}</a>
                        {% if not node.is_leaf_node %}
                         <ul class="dropdown-menu mega-menu">
                        <li class="yamm-content">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">

                        <ul>
                            <li><a href="#">{{ children }}</a></li>
                        </ul>

                             </div><!-- /.col -->

                        </div><!-- /.row -->
                        </li><!-- /.yamm-content -->
                         </ul><!-- /.dropdown-menu -->
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                </ul><!-- /.nav -->
            </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->
            </div><!-- /.sidebar -->
			<div class="col-md-9">
					<!-- ========================================== SECTION – HERO ========================================= -->




<!-- ========================================= SECTION – HERO : END ========================================= -->
				<div class="clearfix filters-container m-t-10">
	<div class="row">
		<div class="col col-sm-6 col-md-2">
			<div class="filter-tabs">
				<ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
					<li class="active">
						<a data-toggle="tab" href="#grid-container"><i class="icon fa fa-th-list"></i>Grid</a>
					</li>
					<li><a data-toggle="tab" href="#list-container"><i class="icon fa fa-th"></i>List</a></li>
				</ul>
			</div><!-- /.filter-tabs -->
		</div><!-- /.col -->
		<div class="col col-sm-12 col-md-6">
			<div class="col col-sm-3 col-md-6 no-padding">
				<div class="lbl-cnt">
					<span class="lbl">Sort by</span>
					<div class="fld inline">
						<div class="dropdown dropdown-small dropdown-med dropdown-white inline">
							<button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
								Position <span class="caret"></span>
							</button>

							<ul role="menu" class="dropdown-menu">
								<li role="presentation"><a href="#">position</a></li>
								<li role="presentation"><a href="#">Price:Lowest first</a></li>
								<li role="presentation"><a href="#">Price:HIghest first</a></li>
								<li role="presentation"><a href="#">Product Name:A to Z</a></li>
							</ul>
						</div>
					</div><!-- /.fld -->
				</div><!-- /.lbl-cnt -->
			</div><!-- /.col -->
			<div class="col col-sm-3 col-md-6 no-padding">
				<div class="lbl-cnt">
					<span class="lbl">Show</span>
					<div class="fld inline">
						<div class="dropdown dropdown-small dropdown-med dropdown-white inline">
							<button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
								1 <span class="caret"></span>
							</button>

							<ul role="menu" class="dropdown-menu">
								<li role="presentation"><a href="#">1</a></li>
								<li role="presentation"><a href="#">2</a></li>
								<li role="presentation"><a href="#">3</a></li>
								<li role="presentation"><a href="#">4</a></li>
								<li role="presentation"><a href="#">5</a></li>
								<li role="presentation"><a href="#">6</a></li>
								<li role="presentation"><a href="#">7</a></li>
								<li role="presentation"><a href="#">8</a></li>
								<li role="presentation"><a href="#">9</a></li>
								<li role="presentation"><a href="#">10</a></li>
							</ul>
						</div>
					</div><!-- /.fld -->
				</div><!-- /.lbl-cnt -->
			</div><!-- /.col -->
		</div><!-- /.col -->
		<div class="col col-sm-6 col-md-4 text-right">
			<div class="pagination-container">
	<ul class="list-inline list-unstyled">
		<li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
	</ul><!-- /.list-inline -->
</div><!-- /.pagination-container -->		</div><!-- /.col -->
	</div><!-- /.row -->
</div>
				<div class="search-result-container">
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active " id="grid-container">
							<div class="category-product  inner-top-vs">
								<div class="row">
		{% for rs in videos %}
		<div class="col-sm-6 col-md-4 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
			<div class="products">

	<div class="product">
		<div class="product-image">
			<div class="image">
				<a href="/video/{{ rs.id }}/{{ rs.slug }}/"><img src="{{ rs.image.url }}" alt="" height="347" width="270"></a>
			</div><!-- /.image -->

			<div class="tag new"><span>new</span></div>
		</div><!-- /.product-image -->


		<div class="product-info text-left">
			<h3 class="name"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h3>
			<div class="description"></div>

			<div class="product-price">
				<span class="price">
					{{ rs.price }} TL			</span>
										     <span class="price-before-discount">150 TL</span>

			</div><!-- /.product-price -->

		</div><!-- /.product-info -->
					<div class="cart clearfix animate-effect">
				<div class="action">
					<ul class="list-unstyled">
						<li class="add-cart-button btn-group">
							<a href="/order/addtocart/{{ rs.id }}" class="btn btn-primary"><i class="fa fa-shopping-cart inner-right-vs"></i>SEPETE EKLE</a>
						</li>

		                <li class="lnk wishlist">
							<a class="add-to-cart" href="detail.html" title="Wishlist">
								 <i class="icon fa fa-heart"></i>
							</a>
						</li>
					</ul>
				</div><!-- /.action -->
			</div><!-- /.cart -->
			</div><!-- /.product -->

			</div><!-- /.products -->
		</div><!-- /.item -->
		{% endfor %}

										</div><!-- /.row -->
							</div><!-- /.category-product -->

						</div><!-- /.tab-pane -->

					</div><!-- /.tab-content -->


				</div><!-- /.search-result-container -->

			</div><!-- /.col -->
		</div><!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->

</div>
{% endblock %}