{% extends "homebase.html" %}
{% block title %}Kullanıcı Güncelleme {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block description %}  {{ setting.description }} {% endblock %}


{% block content %}
<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="/user">Hesap</a></li>
				<li class="active">Kullanıcı Güncelleme</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div>
<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row outer-bottom-sm">
			<div class="col-md-3 sidebar">
	            <!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head"><i class="icon fa fa-user fa-fw"></i> Kullanıcı Panel</div>
    <nav class="yamm megamenu-horizontal" role="navigation">
        <ul class="nav">
            <li>
                <a href="/user" >Hesabım</a>
			</li><!-- /.menu-item -->
			 <li>
                <a href="/shopcart" >Sepetim</a>
			</li><!-- /.menu-item -->
			<li>
                <a href="/user/comments" >Yorumlarım</a>
			</li><!-- /.menu-item -->
			<li>
                <a href="#" >My Orders</a>
			</li><!-- /.menu-item -->
			<li>
                <a href="#" >My Orders</a>
			</li><!-- /.menu-item -->


        </ul><!-- /.nav -->
    </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->
            </div><!-- /.sidebar -->
			<div class="col-md-9"><!-- /.Bunun içi dolacak -->
				<img src="{{ user.userprofile.image.url }}" height="50" width="50" alt="">
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
					{{ user_form.as_p }}
					{{ profile_form.as_p }}
					</div>
				<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Kaydet</button>
				</form>

			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->

</div>
{% endblock %}